* {
	margin   : 0;
	overflow : hidden;
	padding  : 0;
}

body {
	background      : url("./img/background.jpg");
	background-size : cover;
	display         : flex;
	flex-direction  : column;
	height          : 100vh;
	justify-content : center;
	width           : 100vw;
}

#wrapper {
	align-items     : center;
	display         : flex;
	height          : 70%;
	justify-content : space-around;
	width           : 100vw;
}

img {
	border-radius : 15px;
	box-shadow    : 7px 13px 9px 0 rgba(0, 0, 0, 0.65);
	height        : 20%;
	transition    : all 0.5s ease-in-out;
	width         : 15%;
	z-index       : 0;
}

#active {
	height  : 60%;
	width   : 27%;
	z-index : 66;
}

.SecondLevel {
	height  : 40%;
	width   : 20%;
	z-index : 33;
}

#button {
	align-items     : center;
	display         : flex;
	justify-content : center;
	width           : 100vw;
}

button {
	background    : transparent;
	border        : black 3px solid;
	border-radius : 5px;
	color         : black;
	cursor        : pointer;
	font-weight   : bolder;
	margin        : 1%;
	padding       : 0.69%;
	transition    : all 0.5s ease-in-out;
	width         : 10%;
}

button:hover {
	transform : scale(1.2);
}

img:hover {
	transform : scale(1.2);
	z-index   : 99;
}

#mainLink {
	align-items      : center;
	background-color : #666666;
	border           : black 5px solid;
	border-radius    : 15px;
	color            : black;
	display          : flex;
	flex-direction   : row;
	justify-content  : space-around;
	left             : 5vw;
	position         : absolute;
	top              : 5vh;
	width            : 15vw;
}

#mainLink img {
	background-color : #666666;
	box-shadow       : none;
	width            : 10%;
}

#mainLink a {
	background-color : #666666;
	color            : black;
	text-decoration  : none;
	text-transform   : uppercase;
	width            : 80%;
}